.question {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question h1 {
  font-size: 20px;
}

.singleQuestion {
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  padding: 20px;
  margin-top: 10px;
}

.singleQuestion h2 {
  font-size: medium;
  text-align: center;
}

.options {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.singleOption {
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  height: 45px;
  text-align: center; /* added property */
  max-width: 100%;
}
.singleOption:focus,
.singleOption:hover {
  outline-color: white;
  border-color: rgba(122, 120, 121, 0.4);
  background-color: #f9f7f7;
}

@media (max-width: 800px) {
  .singleOption {
    width: 100%;
  }
  .options {
    width: 100%;
  }

  .singleQuestion h2 {
    font-size: 13px;
  }
  .singleOption {
    font-size: 12px;
    max-width: 90%;
  }
  .controls {
    font-size: 10px;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.select {
  background-color: rgb(5, 97, 1);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}
