@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Caudex&family=Josefin+Sans:wght@500&family=Playfair+Display:wght@400;500&family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(
    to right top,
    #fafafa,
    #d8fcff,
    #88ffff,
    #7affd2,
    #d2ff6d
  ); */
}
body::-webkit-scrollbar {
  display: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
